body {
    margin: 0px;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Alinea el texto al centro */
}
header {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    width: 150px;
    height: auto;
    padding-left: 30px;
    padding-top: 10px;
}

.whatsapp img {
    width: 50px;
    padding-right: 50px;
    padding-top: 10px;
    transition: all .3s;
}

.whatsapp:hover{
    transform: scale(1.1) ;
}


header a img {
    cursor: pointer;
}

.barra-busqueda {
    margin: 20px auto; /* Aumento del margen superior e inferior para centrar y separar */
    padding: 15px; /* Aumento del padding para hacerla más grande */
    border-radius: 20px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px; /* Aumento del ancho máximo para evitar que sea demasiado ancha en pantallas grandes */
    box-sizing: border-box;
}

.barra-busqueda input {
    flex: 1;
    border: none;
    outline: none;
    padding: auto; /* Aumento del padding para hacerla más grande */
    border-radius: 20px;
    font-size: 15px; /* Aumento del tamaño de fuente para el texto de entrada */
}

.barra-busqueda::placeholder {
    color: #aaa;
    font-size: 16px; /* Aumento del tamaño de fuente para el marcador de posición */
}


.pestanas {
    display: flex;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #aaa;
}

.pestaña {
    font-size: 25px;
    margin: 0 90px; /* Reduzco el espacio entre las pestañas para dispositivos móviles */
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    text-decoration: none; /* Para quitar el subrayado predeterminado de los enlaces */
    transition: background-color 0.3s ease; /* Agrego una transición de color al hacer hover */
    margin-bottom: -2px; /* Desplazo ligeramente hacia arriba para que el subrayado quede oculto por defecto */
}

.pestaña:hover {
    background-color: #e0ffe0; /* Cambio el color de fondo al hacer hover */
}

.pestaña.activa {
    background-color: transparent;
    color: green;
    margin-bottom: 0; /* Muestro el subrayado al hacer la pestaña activa */
}


.galeria {
    display: grid;
    grid-template-columns: repeat(3, 2.5cm);
    grid-gap: 30px; /* Espacio entre las imágenes */
    max-width: 100%;
    margin: 30px auto;
    box-sizing: border-box;
}

.imagen-enlace {
    display: block;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.imagen-enlace:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.imagen-enlace img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    transition: opacity 0.3s ease;
}

.imagen-enlace:hover img {
    opacity: 0.8;
}

/* Estilos específicos para las imágenes dentro de la galería */
.galeria img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Reduzco el margen inferior de las imágenes */
    margin-top: 20px;   /* Reduzco el margen superior de las imágenes */
}

.titulo {
    text-align: center;
    font-size: 30px; 
    font-weight: bold;
    font-family: Arial, sans-serif;
}


.parrafo {
    text-align: center;
    font-family: Arial, sans-serif;
}

.texto-final {
    font-size: 30px; /* Reduzco el tamaño del texto final para dispositivos móviles */
    margin-top: auto; 
    color: #dddddd; 
    text-align: center;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.mensaje-no-disponible{
    display: none;
}
.texto-no-disponible {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 0, 0); 
    margin: 150px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}